<div class="main"></div>

<div class="container">
  <div class="row about-section">

    <div class="col-md-12">
      <p class="headline">Great history</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam non semper libero. Suspendisse magna nunc, mollis id
        lacus euismod, sollicitudin tristique tellus. Quisque eget
        odio imperdiet, bibendum massa et, tempor nulla. Nulla urna
        erat, volutpat ac velit at, sagittis accumsan erat. Vivamus
        posuere nibh a libero maximus, vel consequat magna consequat.
        Integer magna mi, efficitur nec dignissim eu, porttitor
        congue dolor. Vestibulum massa velit, molestie id orci
        sit amet, tristique malesuada dui. Maecenas vehicula et nibh
        quis rhoncus. Nulla consectetur ullamcorper vulputate.
        Nam dolor ligula, condimentum a semper non, feugiat sed risus.</p>
    </div>
  </div>
</div>



