$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1579px;

@import 'styles/main.scss';
@import 'styles/about.scss';
@import 'styles/items.scss';
@import 'styles/last.scss';

.headline {
  font-size: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  padding: 30px 0 0 0;
  margin: 0;
}

.section-text {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

footer {
  color: white;
  background: black;
  background-size: cover;
  height: 300px;
  z-index: -5;
  position: fixed;
  bottom: 0;
  width: 100%;
}
