<div class="main">
  <div class="logo rellax" data-rellax-speed="-6"></div>
</div>

<div class="container">
  <div class="row about-section">

    <div class="col-md-12">
      <p class="headline">Great history</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam non semper libero. Suspendisse magna nunc, mollis id
        lacus euismod, sollicitudin tristique tellus. Quisque eget
        odio imperdiet, bibendum massa et, tempor nulla. Nulla urna
        erat, volutpat ac velit at, sagittis accumsan erat. Vivamus
        posuere nibh a libero maximus, vel consequat magna consequat.
        Integer magna mi, efficitur nec dignissim eu, porttitor
        congue dolor. Vestibulum massa velit, molestie id orci
        sit amet, tristique malesuada dui. Maecenas vehicula et nibh
        quis rhoncus. Nulla consectetur ullamcorper vulputate.
        Nam dolor ligula, condimentum a semper non, feugiat sed risus.</p>
      <div class="row about-images">
        <div class="col-md-4">
          <div class="about-img">
            <img src="https://i.pinimg.com/originals/c5/63/89/c563896765ce145add863f833be44730.jpg" alt="Pablo Picasso holding Gary Cooper">
          </div>
          <p class="img-info">Pablo Picasso holding Gary Cooper</p>
        </div>

        <div class="col-md-4">
          <div class="about-img">
            <img src="https://www.gannett-cdn.com/-mm-/1d4835c0ba1788b72006395b5f897853255b162e/c=0-17-1471-1978&r=537&c=0-0-534-712/local/-/media/2016/03/29/Phoenix/Phoenix/635948564505668550-phxdc5-6b22iiuq4pvmja7jh61-original.jpg" alt="John Dillinger">
          </div>
          <p class="img-info">John Dillinger ipsum dolor sit amet</p>
        </div>

        <div class="col-md-4">
          <div class="about-img">
            <img src="http://www.ottawacitizen.com/news/cms/binary/7723309.jpg?size=640x420" alt="">
          </div>
          <p class="img-info">Bonnie and Clyde ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
</div>

