<div class="login-container">
  <form [formGroup]="form" class="login-form" (submit)="submit()">
    <div class="row">
      <mat-form-field class="col-md-12">
        <input matInput formControlName="username" (input)="inputChange()" placeholder="Username" >
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input type="password" matInput (input)="inputChange()" formControlName="password" placeholder="Password" >
      </mat-form-field>

      <div class="col-md-12">
        <button color="accent" [disabled]="!form.dirty && form.invalid" mat-raised-button>Login</button>
        <mat-error class="invalid-creds" *ngIf="invalidCredentials">Invalid login or password</mat-error>
      </div>
    </div>
  </form>
</div>
